.page {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 24px;
}
.page_noteslist {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  max-width: 250px;
}
.page_search {
  padding: 4px;
  box-shadow: 1px 1px 3px #999;
  background: #eee;
  border: none;
  outline: none;
  text-align: center;
}
.page_sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.page_create_edit_note {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
}
